@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ScrollBar  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Slider CSS */
@layer components {
  .slider-green {
    @apply appearance-none w-full h-2 bg-gray-200 rounded-lg cursor-pointer;
  }

  .slider-green::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-green-600 rounded-full cursor-pointer;
  }

  .slider-green::-moz-range-thumb {
    @apply w-4 h-4 bg-green-600 rounded-full cursor-pointer;
  }
}